footer{ 
    display: flex;
    
    
    /* Va así: hacía donde, color1, color2 */
    background-image: $bg-fot;


   }
   
 .bg-secondary{
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity))!important;
    width: 100vw;
    align-items: center;
    
    justify-content: space-around;
 }

 .espacioFooter{
  display: flex;
 }

.errorFooter {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
}

