// HEADER
.h1 {
    padding: 15px;
    display: flex;
  }
  
  .tamaño {
    height: 790px;
  }
  
  .tipografia {
    font-family: cursive;
   
  }
  
  .tipografia:hover{
      color: #918c8c;
  }

  



  