//   PAGINA DE CONTACTO

 .modificarNavbar{
   height: 15vh;

}

.modificarTamañoMain{
    height: 70vh;
 }

 .modicarTamañoFooter{
   height: 15vh;
 }

 .colorBoton{
   background-color: $botonesColor;
   color: white;
}