
.tamaño {
    height: 790px;
  }
  


.variableTexto {
  @include estiloTexto(50px, $bg-Hea);
}



.textIndex{
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}